{{include "share-nav"}}
    		
    	<!-- 添加两个按钮 -->	
    	<div class="container" style="margin-top: 20px;">
    		<a href="/add" class="btn btn-warning">添加学生</a>
    		<button class="btn btn-success">
    			<span class="glyphicon glyphicon-search"></span>
    			搜索
    		</button>
    	</div>
    	
    	<!-- 列表 -->
    	<div class="container table-responsive" style="margin-top: 20px;">
    		<table class="table table-hover">	
    			<tr>
    				<th class="text-center">姓名</th>
    				<th class="text-center">年龄</th>
    				<th class="text-center">性别</th>
    				<th class="text-center">号码</th>
    				<th class="text-center">邮箱</th>
    				<th class="text-center">备注</th>
    				<th class="text-center">建档</th>
    				<th class="text-center">编辑</th>
    				<th class="text-center">删除</th>
    			</tr>
    			{{ each data as stu index }}
    			<tr>
    				<td class="text-center">{{stu.name}}</td>
    				<td class="text-center">{{stu.age}}</td>
    				<td class="text-center">{{stu.gender ? "男" : "女"}}</td>
    				<td class="text-center">{{stu.phone}}</td>
    				<td class="text-center">{{stu.email}}</td>
    				<td class="text-center">{{stu.detail}}</td>
    				<td class="text-center">{{stu.createTime.toString().substring(0,24)}}</td>
    				<td class="text-center"><span class="glyphicon glyphicon-edit"></span></td>
    				<td class="text-center"><span class="glyphicon glyphicon-trash"></span></td>
    			</tr>
    			{{ /each }}
    		</table>
    	</div>
    	
    	<!-- 页面指示器 -->
    	<div class="text-center">
    		<ul class="pagination">
	    		<!-- 前一页 -->
	    		<li {{if page == 1}} class="disabled" {{/if}}>
	    			<a {{if page > 1}} href="/?page={{page-1}}" {{/if}}>&laquo;</a>
	    		</li>
	    		<!-- 中间页码 -->
	    		{{each showPages as p i}}
	    		<li {{if p == page}} class="active" {{/if}}>
	    			<a href="/?page={{p}}">{{p}}</a>
	    		</li>
	    		{{/each}}
	    		<!-- 后一页 -->
	    		<li {{if page == allPages}} class="disabled" {{/if}}>
	    			<a {{if page < allPages}} href="/?page={{page+1}}" {{/if}}>&raquo;</a>
	    		</li>
	    	</ul>
    	</div>
	</body>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</html>
